@import "tailwindcss";
/* @import "@heroui/styles";  */

/* Custom Theme Colors */
@theme {
  --color-bg-dark: #0b0f17;
  --color-card-dark: #111827;
  --color-accent-blue: #3b82f6;
  --color-accent-cyan: #06b6d4;
  --color-muted-text: #9ca3af;
}

/* Global Base Styles */
body {
  background-color: var(--color-bg-dark);
  color: #f9fafb;
  font-family: Arial, Helvetica, sans-serif;
  min-height: 100vh;
}